*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rubik"
}

body{
    background-image: url("./images/kkg.jpg");
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5); 
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

button{
    display: block;
    cursor: pointer;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

.flex{
    display: flex;
}

.img-container{
    width: 600px; 
    margin-bottom: 2rem;
    background-color: black;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to bottom, rgb(4, 4, 73), rgb(21, 21, 82), rgb(54, 54, 104), rgb(123, 123, 167), rgb(146, 146, 217)); */
}

.main-title{
    margin-bottom: 4rem;
    font-size: 5rem;
}

.main-title span{
    display: inline-block;
    margin-right: 3rem;
}

.main-title span:nth-of-type(1):hover{
    color: rgb(34, 179, 68);
    transform: scale(1.4);
    transition: 0.25s transform linear;
}


.main-title span:nth-of-type(2):hover{
    color: rgb(236, 7, 18);
    transform: scale(1.4);
    transition: 0.25s transform linear;
}


.main-title span:nth-of-type(3):hover{
    color: rgb(34, 18, 211);
    transform: scale(1.4);
    transition: 0.25s transform linear;
}


.main-title span:nth-of-type(4):hover{
    color: rgb(188, 12, 129);
    transform: scale(1.4);
    transition: 0.25s transform linear;
}


.main-title span:nth-of-type(5):hover{
    color: rgb(232, 165, 9);
    transform: scale(1.4);
    transition: 0.25s transform linear;
}


.main-title span:nth-of-type(6):hover{
    color: rgb(196, 6, 249);
    transform: scale(1.4);
    transition: 0.25s transform linear;
}

.main-canvas{
    background-color: rgb(178, 133, 56);
}

.canvas-container{
    display: none;
}

.start-button{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    background-color: rgb(235, 237, 202);
    font-family: a;
    /* box-shadow: 4px 4px  4px 1.5px rgb(205, 206, 194); */
    margin-bottom: 2rem;
    border: 2px;
}

.start-button:hover{
    transform: scale(1.1);
    transition: 0.3s transform linear ;
}

.start{
    position: relative;
}

.flex-down{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameOver{
    display: none;
}

.reset-button{
    display: block;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    background-color: blue;
    color: white;
    border-radius: 6px;
    margin: auto;
}

.victoria{
    display: none;
}

.foto-finish{
    display: none;
    border: 1px solid black;
}

.controles{
    margin-left: 2rem;
}

.control{

    padding: 1rem 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    border: none;
    font-size: 1.25rem;
    background-color: rgba(235, 237, 202, 0.922);
    color: rgb(0, 0, 0);
    /* background-image: radial-gradient(white, rgb(135, 135, 135)); */
}

.control:hover{
    transform: scale(1.10);
}

.puntuación{
    margin-bottom: 2rem;
    color: white;
}

.restart{
    display: block;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 6px;
    margin-bottom: 2rem;
    background-image: linear-gradient(135deg, rgb(216 213 208), rgb(196 6 249));
    border: none;
    color: rgb(216 213 208);
}
 .cancion{
    margin-bottom: .75rem;
    font-size: 1rem;
 }

.foto-button{
    padding: 1rem 3rem;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    margin-bottom: 2rem;
}

#nombre-jugador{
    background-color: rgba(72, 72, 63, 0.5);
    border: transparent;
    border-radius: 5px;
    padding: 0.75rem;
    position: relative;
}
::placeholder {
    color: rgba(255, 255, 255, 0.693);
    border: none;
}

.range{
    color: bisque;
}

.fondo{
    background-image: none;
    backdrop-filter: none;
    background-color: black;
}
