*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button{
    display: block;
}


img{
    width: 100%;
    height: auto;
    display: block;
}

.img-container{
    width: 600px; 
    margin-bottom: 1rem;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-canvas{
    background-color: gray;
}

.canvas-container{
    display: none;
}

.start-button{
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    background-color: blue;
    color: white;
    border-radius: 6px;
}

.start{
    position: relative;
}

.flex-down{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameOver{
    display: none;
}

.reset-button{
    display: block;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    background-color: blue;
    color: white;
    border-radius: 6px;
    margin: auto;
}

.victoria{
    display: none;
}

.foto-finish{
    display: none;
    border: 1px solid black;
}
